.bookingTableContainer {
    >div:nth-child(1) {
        >div:nth-child(2) {
            >div:nth-child(1) {
                >div {
                    >div {
                        height: 2.5rem;
                    }
                }
            }
        }
    }

    .tableContainer {
        table {
            width: 250%;
            overflow-x: scroll;
        }

    }
    .actionButton {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-block-start: 1rem;
        padding-inline: 2%;
    }
}