.commonButtonContainer {
    button {
        border: 1px solid #000000;
        color: #000000;

        &:hover {
            border: 1px solid #00AB8E;
            background-color: #00AB8E;
            color: #000000;
        }
    }
}